/swift/
/llvm/
/clang/
/lldb/
/cmark/
/llbuild/
/swiftpm/
/swift-corelibs-xctest/
/swift-corelibs-foundation/
/build/
/install/
/ninja/
swift.tar.gz
/compiler-rt/
/swift-corelibs-libdispatch/
/swift-integration-tests/
/swift-xcode-playground-support/
cache
.DS_Store
sysroot
